@media (min-width: 992px) and (max-width: 1199px) {
    .title-xl {
        font-size: 28px;
    }

    .title-xl {
        font-size: 27px;
    }

    // login page responsive
    .loginHeader .container-fluid {
        padding: 0px 30px;
    }

    #loginWrapper .container-fluid {
        padding: 0px 30px;
    }
}